.encounters-user {
  /* border: 2px solid pink;
  font-size: 12px;
  color: pink; */
  ;
}

/* ABOVE CLASS IS FOR DEVELOPMENT ONLY */

.encounters-user {
  background-color: rgb(255, 196, 0);
  width: 80%;
  margin: 5% auto;

  display: block;
  border-radius: 15px;
  position: relative;
}

.encounters-user-left {
  background-image: url("https://s.yimg.com/uu/api/res/1.2/GBi4ioTdBU5pI_mj2qdoOA--~B/aD0xODAwO3c9MjcwMDtzbT0xO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/people_218/f4ad8855ecce83db4bad5aab2cc047e8");
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 55%;
  padding-top: 70%;
}

.encounters-user-text {
  /* background-color: pink; */
  line-height: 20px;
  position: absolute;
  top: 32.5%;
  left: 57.5%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.encounters-user-text span {
  display: block;
  color: #fff;
}

.encounters-user button {
  opacity: 1;
  background-color: #fff;
  border: 5px solid rgb(255, 196, 0);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 40px;
  padding-top: 7px;
  margin: 0;
  transition: .2s;
}

.encounters-user button:hover {
  transition: .2s;
  cursor: pointer;
}

.encounters-user-buttons-div {
  position: absolute;
  bottom: 0;
  width: 55%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
}

/* .content-header-rumble-match {
}

.content-header-rumble {
  color: rgb(255, 196, 0);
  font-weight: 600;
  font-size: 30px;
}

.content-header-match {
  color: rgb(255, 196, 0);
  font-weight: 100;
  font-size: 30px;
} */