span span.about-text {
  margin-top: 20px;
}

span span.bold-text {
  font-weight: 800;
  display: inline;
}

.encounters-user-text span {
  display: block;
  color: #fff;
}

.encounters-user button:hover {
  transition: .2s;
  cursor: pointer;
}

.encounters-user-buttons-div {
  justify-content: space-around;
  position: absolute;
  margin-bottom: 3%;
  display: flex;
  bottom: -50px;
  width: 55%;
}

.encounters-user {
  background-color: rgb(255, 196, 0);
  border-radius: 15px;
  position: relative;
  max-width: 690pxf;
  margin: 5% auto;
  display: block;
  width: 80%;
}

.encounters-user-left {
  background-image: url("https://s.yimg.com/uu/api/res/1.2/GBi4ioTdBU5pI_mj2qdoOA--~B/aD0xODAwO3c9MjcwMDtzbT0xO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/people_218/f4ad8855ecce83db4bad5aab2cc047e8");
  border-radius: 15px 0px 0px 15px;
  background-position: center;
  background-size: cover;
  padding-top: 70%;
  width: 55%;
}

.encounters-user-text {
  background-color: rgb(255, 196, 0);
  white-space: normal;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 57.5%;
  top: 32.5%;
  width: 40%;
}

.encounters-user button {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border: 5px solid rgb(255, 196, 0);
  background-color: #fff;
  border-radius: 50%;
  padding-top: 7px;
  transition: .2s;
  font-size: 40px;
  height: 70px;
  width: 70px;
  opacity: 1;
  margin: 0;
}