
span span.bold-text {
  font-weight: 600;
  display: inline;
}

.profile-entry-text-div span {
  display: block;
  color: #fff;
}

.profile-entry-text-div {
  background-color: rgb(255, 196, 0);
  padding: 15px 0 20px 2vw;
  white-space: nowrap;
  position: absolute;
  line-height: 20px;
  overflow: hidden;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.profile-entry-div {
  background-image: url("https://s.yimg.com/uu/api/res/1.2/GBi4ioTdBU5pI_mj2qdoOA--~B/aD0xODAwO3c9MjcwMDtzbT0xO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/people_218/f4ad8855ecce83db4bad5aab2cc047e8");
  background-position: center;
  background-size: cover;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: .5s;
  flex-shrink: 0;
  /* width: 300px; */
}