/* .aside-div {
  border: 2px solid lightpink;
  font-size: 12px;
  color: lightpink;
} */

button {
  opacity: .2;
  margin-left: 15px;
  transition: .2s;
}

button:hover {
  opacity: 1;
  transition: .2s;
}

/* ABOVE CLASSES IS FOR DEVELOPMENT ONLY */

.aside-div {
  width: 275px;
  flex-shrink: 0;
  border-right: 1px solid lightgrey;
}