.navbar-links-div {
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 10px 20px;
  min-width: 690px;
  display: flex;
}

.navbar-links-right a {
  vertical-align: 7.5px;
  padding: 0px 15px;
  font-weight: 600;
  display: inline;
  color: #222;
}

.navbar-logo-icon {
  vertical-align: -3px;
  margin-right: -5px;
  margin-left: -7px;
  font-size: 35px;
}

.navbar-title {
  color: rgb(255, 196, 0);
  font-weight: 500;
  font-size: 40px;
}

.navbar-links-right {
  margin-top: 10px;
}

.navbar-links-right a:hover {
  color: rgb(255, 196, 0);
  transition: .2s;
}

.navbar-title, .navbar-links-right {
  display: inline;
}