.sidebar-profile-div {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.sidebar-profile-img {
  background-image: url("https://gossipgist.com/uploads/15954/macho-man.png");
  background-position: center;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
  margin-left: 12px;
  height: 50px;
  width: 50px;
}

.sidebar-profile-username {
  margin-left: 10px;
  font-size: 20px;
}